
#info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#info{
    background-color: #203354;
    color: white;
}
#info a:visited{
    color: white;
}

#menu-bar a:visited{
    color: white;
}
#menu-bar{
    background-color: #203354;
    color: white;
    
}
body{
    margin: 0;
}

footer {
    padding-left: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #203354;
    color: white;
    text-align: left;
 }