
#info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: xx-large;
}
#user a:link, a:visited{
    text-decoration: underline;
    color: #FB0023;}
#info a:visited{
    color: black;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#info a:link{
    color: black;
    text-decoration: none;
}
#intro{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#menu-bar a:visited,a:link{
    color: white;
    text-decoration: none;

}
#menu-bar{
    background-color: #203354;
    color: white;
    text-decoration: none;  
    font-size: 200%;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#menu-bar a:visited{
    padding-bottom: 50%;
    
}
#menu-bar h1{
    font-size: x-large;
}
body{
    margin: 0;
    background-color: #f6f7f9;
}
body input[type=submit]{
    background-color:  #203354;
    color: white;
}

#menu-bar img{
    vertical-align: -webkit-baseline-middle;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #203354;
    color: white;
    text-align: left;
 }

 footer img{
     vertical-align: -webkit-baseline-middle;
 }