body{
    background-color:#EDEFF0;
    margin:    0 auto;
    max-width: 1600px;
    margin-top:10px;
 
}

#menu input{
    display: none;
}

header{
    background-color: #046DD5;
    border-bottom-style: solid;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    line-height: 0.5;
    
}

img{
    width: 100%;
    position:relative;
    
  }

#news header{
    position: absolute;
    top:900;
    left:120px;
    font-size: 110%;
    text-shadow: 4px 4px 2px black;
    background-color: transparent;
    border-bottom: none;
    margin-right: 1300px; 
    line-height:200%;
    z-index:1;

}

header h2{
    font-size: 95%;
    line-height: 0.8;
}



#related{
    background-color: #2A2F33;
    margin-bottom: 10px;
    font-family: verdana;
    color:white;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 25px;
    
}

#related p:first-letter{
    font-size:100%;
    font-weight: normal;
}


#related p{
    font-family: Georgia;
    font-size:90%;
    font-weight: normal;
    font-size:100%;

}

#related a{
    font-family: Georgia;
    font-family: verdana;
    font-size:95%;
}

a:link, a:active, a:visited{
    text-decoration: none;
    color: white;
}

#menu a:link, #menu a:active,#menu  a:visited{
    text-decoration: none;
    color: black;
}

#menu > ul{
    color: #2A2F33;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:white;
    text-align: center;
    list-style-type: none;
    line-height: 3.5;
    font-weight: bold;
    
}

nav > ul{
    padding:0;
    margin:0 auto;
}

/*-----------linhas com diferentes cores na lista-------*/


#menu li:first-child {
border-top: 6px solid #E1493E; 
}

#menu li:nth-child(2){
    border-top: 6px solid #8ABA56; 
}

#menu li:nth-child(3){
    border-top: 6px solid #5B4282; 
}

#menu li:nth-child(4){
    border-top: 6px solid  #FF8932; 
}

#menu li:nth-child(5){
    border-top: 6px solid #19B6E9; 
}

#menu li:nth-child(6){
    border-top: 6px solid #E84C8B; 
}
/*------------------------------------------------------*/

p:first-letter{
    font-weight: bold;
    font-size:200%;
}

footer{
    background-color: #F4655F;
    color: white;
    margin-bottom:10px;
    margin-top:10px;
    font-family: Verdana;
    padding:1em;
    height: 10px;
    font-size:80%;
    width:100%;
}

.comments:after{
    content: " comments";
    text-decoration: underline;

}
.tags:before {
   content: " ";
}

.tags a{
    text-decoration: underline;
 
   }
.comments{
    text-decoration: underline;
}


body > :last-child{
    background-color: #2A2F33;
    color: white;
    margin-bottom:10px;
    margin-top:10px;
    font-family: Verdana;
    padding:20px;
    height: 10px;
    font-size:80%;
    width:99%;
    line-height: 0;
    margin-left:-2px;
}
